---
import BaseHead from '../_components/BaseHead.astro'
import Header from '../components/Header.astro'
import ContentBlock from '../components/ContentBlock.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="4321" description="about description" />
    </head>
    <body>
        <Header />
        <ContentBlock text="Lorem ipsum Domir Alit" />
        <Footer />
    </body>
<html>