---
import BaseHead from '../components/BaseHead.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="4321" description="about description" />
    </head>
    <body>
    </body>
<html>