---
import BaseHead from '../components/BaseHead.astro'
import Hero1 from '../blocks/hero/Hero1.astro'
import Hero2 from '../blocks/hero/Hero2.astro'
import Hero3 from '../blocks/hero/Hero3.astro'
import Hero4 from '../blocks/hero/Hero4.astro'
import Hero5 from '../blocks/hero/Hero5.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="1234" description="meta description" />
    </head>
    <body>
        <Hero1 caption="Caption" title="Title" description='Description' button1Text='Button 1 Text' button2Text='Button 2 Text' />
        <Hero2 caption="Caption" title="Title" description='Description' button1Text='Button 1 Text' button2Text='Button 2 Text' />
        <Hero3 caption="Caption" title="Title" description='Description' button1Text='Button 1 Text' button2Text='Button 2 Text' />
        <Hero4 caption="Caption" title="Title" description='Description' button1Text='Button 1 Text' button2Text='Button 2 Text' />
        <Hero5 caption="Caption" title="Title" description='Description' button1Text='Button 1 Text' button2Text='Button 2 Text' />
    </body>
<html>

