---
import BaseHead from '../components/BaseHead.astro'
import Hero5 from '../blocks/hero/Hero5.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="1234" description="meta description" />
    </head>
    <body>
        <Hero5 />
    </body>
<html>